<div class="row">
  <div class="col-sm-6" *ngIf="professorSelected">
    <app-titulo [title]="'Cód. Professor: ' + professorSelected.id">
      <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Voltar</button>
    </app-titulo>
    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control" >
      </div>
      <button class="btn btn-sm btn-success" [disabled]="!professorForm.valid">Enviar</button>
    </form>
  </div>
  <div [ngClass]="{'col-sm-6': professorSelected, 'col-sm-12': !professorSelected}">
    <app-titulo [title]="title">
      <button class="btn btn-sm btn-success">Novo Professor</button>
    </app-titulo>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngIf="!professorSelected">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores" >
          <td *ngIf="!professorSelected" ><button class="btn btn-sm btn-warning" (click)="professorSelect(professor)">Detalhes</button></td>
          <th scope="row">{{professor.id}}</th>
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>
          <td>
            <div class="btn-group">
              <button class="btn  btn-sm btn-outline-primary" (click)="openModal(template)">Alunos</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body modal-show-alunos">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">Fechar</button>
  </div>
</ng-template>
